<div id="mSub">
  <div class="box_visual">
    <img src="/images/m640/bg_top.png" class="bg_img" alt="">
    <div class="inner_g">
      <img src="/images/m640/img_logo_ff.png" class="logo_img" alt="끼다 로고">
      <strong class="tit_visual">함께 만드는 요리의 재미, 끼다!</strong>
      <p class="txt_info">&#60;끼다&#62;는 정부 및 지자체를 중심으로 만들어진<br> 공유부엌을 이용하여 1인 가구 청년들이 보다<br>즐겁고, 건강하게 함께 밥을 먹을 수 있도록 만든<br>공유부엌 활성화 플랫폼입니다.</p>
    </div>
  </div>
</div>

<div id="mArticle">
  <div class="box_g box_contact">

    <ul class="list_contact">
    <% @parties.each_with_index do |party, idx| %>
      <li class="<%=party.state=="accepting"?"on":""%>" data-idx="<%=idx%>">
        <div class="cont_contact">
          <div class="thumb_g"><img src="http://file.ggida.org/img/<%=party.id%>_thumb_<%=party.images_file_name%>" class="thumb_img" alt="" /></div>
          <div href="#none" class="link_ask">
            <div class="desc_contact">
              <strong class="tit_contact"><%=party.title%></strong>
              <span class="txt_contact"><%=party.start_date.strftime("%m.%d %H시")%>, <%=party.place%></span>
              <a href="/parties/<%=party.id%>">
                <span class="contact_r"><%=party.left_seats%>명 남았어요 <span class="txt_bar">|</span> <em>모임 참가 신청하기</em></span>
              </a>

            </div>
          </div>
          <div class="bg_dimmed"></div>
        </div>
      </li>
    <% end %>
    </ul>

  </div>
</div>