<h1> 모임 목록</h1>

<ul>
<% @parties.each_with_index do |party, idx| %>
	<li data-idx="<%=idx%>">
		<img src="http://file.ggida.org/img/<%=party.id%>_thumb_<%=party.images_file_name%>" />
		<a href="/parties/<%=party.id%>">
			<span class="cont_tit"><%=party.title%></span>
			<span class="cont_place"><%=party.place%></span>
		</a>
	</li>
<% end %>
</ul>