<script language="JavaScript" type="text/JavaScript">
    //<![CDATA[
    $(document).ready(function(){
        var form = document.forms['request_participant'];
    });

    function request_reset() {
        document.getElementById("request_participant").reset();
    }

    function request_submit() {
        var form = document.getElementById("request_participant");

        if ( !$("#name").val() ) {
            alert("이름을 입력해주세요.");
            $("#name").focus();
        } else if ( !$("#number").val() ) {
            alert("핸드폰번호를 입력해주세요.");
            $("#number").focus();
        } else if ( !$("#email").val() ) {
            alert("이메일을 입력해주세요.");
            $("#email").focus();
        } else {
            form.action = "/parties";
            form.submit();
        }
    }
    //]]>
</script>

<h2 class="tit_sub">신청 모임 확인</h2>
<div class="box_g box_written" style=" color:#7c7c7c;">
<div class=""><img src="http://file.ggida.org/img/<%=@party.id%>_medium_<%=@party.images_file_name%>" class="thumb_img" alt="" /></div><br>

<div><strong style="font-size:14pt;" class=""><%=@party.title%></strong></div><br>

  <div><span style="color:#ff6800; font-size:9pt" class=""><b><%=@party.left_seats%>명 남았습니다.</b></span></div><br>

<div><p><%= @party.contents %></p></div><br>

<table style=" text-align: left;">
    <tr>
      <th style=" font-size:9pt; color:#7c7c7c;">일자</th>
      <th style=" font-size:9pt; color:#7c7c7c;">모집인원</th>
      <th style=" font-size:9pt; color:#7c7c7c;">참가비</th>
    </tr>
    <tr>
      <td style=" font-size:11pt; color:#7c7c7c;"><%= @party.start_date.strftime("%y.%m.%d %H시")%></td>
      <td style=" font-size:11pt; color:#7c7c7c;">최대 <%= @party.max_participants%>명</td>
      <td style=" font-size:11pt; color:#7c7c7c;"><%= @party.price%>원</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr style="font-size:9pt;">
      <th style=" font-size:9pt; color:#7c7c7c;">&nbsp;핸드폰번호</th>
      <th style=" font-size:9pt; color:#7c7c7c;">&nbsp;이메일</th>
    </tr>
    <tr>
      <td style=" font-size:11pt; color:#7c7c7c;">&nbsp;<%= @party.contact_number%></td>
      <td style=" font-size:11pt; color:#7c7c7c;">&nbsp;<%= @party.contact_email%></td>
    </tr>
  </table>
<br><br>
<div style="text-align: right;" ><span class=""><%=@party.place%><span class="txt_bar">></span></span></div>
<div style="text-align: right;"><span class=""><%=@party.address%></span></div><br>

<!--
<a href="#">
    <span class="">신청하기</span>
</a>
-->


<!--여기는 party의 participant가 되기 위한 폼입니다.->
<!--모달이나 레이어를 모르겠어서ㅠ 일단 임시로 아래에 폼을 만들어놓았습니다.-->
<br><br>
<hr><br>
<form name="request_participant" id="request_participant" method="POST" enctype="multipart/form-data">
  <fieldset>
    <div style="text-align: center;"><span style="color:#ff6800; ">참석 신청하기</span></div>
    <div style="font-size:14pt; text-align: center;"><strong class="" ><%=@party.title%></strong></div>
    <div><span name="party[id]" id="id" style="display:none;"><%=@party.id%></span></div>
    <ul class="list_writte">
      <li>
        <div class="item_inp inp_type1"><label for="" class="lab_weite" >이름</label> <span class="cell_inp"><input name="participant[name]" id="name" type="text" class="inp_weite" maxlength="100" placeholder="이름 입력"/></span></div>
        <div class="item_inp inp_type2"><label for="" class="lab_weite" >핸드폰번호</label><span class="cell_inp"><input name="participant[phone]" id="number" type="tel" class="inp_weite" maxlength="100" placeholder="000-0000-0000"/></span></div>
      </li>
      <li>
        <div class="item_inp "><label for="" class="lab_weite" >EMAIL</label> <span class="cell_inp"><input name="participant[email]" id="email" type="email" class="inp_weite" maxlength="100" placeholder="이메일을 입력하세요"/></span></div>
      </li>
    </ul>

    <ul class="wrap_button">
      <li><a class="btn_round btn_submit" onclick="request_submit();">신청</a></li>
      <li><a class="btn_round btn_cancle" onclick="request_reset();">취소</a></li>
    </ul>
  </fieldset>
</form>
</div>