<%@title = @party.title%>
<%@thumbnail = "http://file.ggida.org/img/#{@party.id}_medium_#{@party.images_file_name}"%>
<%@description = "#{@party.contents[0..30]} ..."%>

<script language="JavaScript" type="text/JavaScript">
    $(document).ready(function(){
        var form = document.forms['request_participant'];
    });

    function request_submit() {
        var form = document.getElementById("request_participant");

        if ( !$("#name").val() ) {
            alert("이름을 입력해주세요.");
            $("#name").focus();
        } else if ( !$("#number").val() ) {
            alert("핸드폰번호를 입력해주세요.");
            $("#number").focus();
        } else if ( !$("#email").val() ) {
            alert("이메일을 입력해주세요.");
            $("#email").focus();
        } else {
            form.action = "/parties";
            form.submit();
        }
    }
</script>

  <div id="mArticle">
<div class="box_g box_invite">
  <h2 class="screen_out">모임 상세</h2>
  <div class="box_visual">
    <img src="/images/m640/bg_main.png" class="bg_img" alt="">
    <div class="thumb_g thumb_main">
      <img src="http://file.ggida.org/img/<%=@party.id%>_medium_<%=@party.images_file_name%>" class="thumb_img" alt="">
    </div>
  </div>
  <div class="item_invite">
    <strong class="tit_invite"><%=@party.title%></strong>
    <em class="emph_g"><%=@party.left_seats%>명 남았습니다.</em>
    <div class="txt_weite">
      <span class="screen_out">모임소개</span>
      <%= @party.contents %>
    </div>
    <ul class="list_invite">
      <li><em class="em_txt">일자 </em><%= @party.start_date.strftime("%y.%m.%d %H시")%></li>
      <li><em class="em_txt">모집인원 </em>최대 <%= @party.max_participants%>명</li>
      <li><em class="em_txt">참가비 </em><%= @party.price%>원</li>
      <li><em class="em_txt">핸드폰번호 </em><%= @party.contact_number%></li>
      <li><em class="em_txt">이메일 </em><%= @party.contact_email%></li>
      <!--<li><em class="em_txt">일자</em>17.02.28 오후 6시</li>-->
    </ul>
    <div class="info_kitchen">
      <img src="/images/m640/logo_kitchen_0<%= @party.kitchen_id%>.png" class="thumb_logo" alt="<%=@party.place%>">
      <strong class="tit_kitchen"><%=@party.place%></strong>
      <span class="txt_kitchen"><%=@party.address%></span>
    </div>
    <a class="btn_round btn_submit" onclick="viewLayer()">신청하기</a></li>
    <% if current_manager %>
      <a style="margin-top: 5px;" href="/parties/<%=@party.id%>/participants" class="btn_round">모임 신청자 현황</a></li>
    <% end %>
  </div>


  <form name="request_participant" id="request_participant" method="POST" enctype="multipart/form-data">
    <fieldset>
      <div class="layer_ggida" style="display:none">
        <div class="overlay"></div>
        <div class="inner_layer">
          <div class="box_written">
            <strong class="tit_layer"><em class="emph_g"><%= @party.place%> </em><%= @party.title%></strong>
            <ul class="list_writte">
              <li>
                <div class="item_inp "><label for="" class="lab_weite" >이름</label> <span class="cell_inp"><input name="participant[name]" id="name" type="text" class="inp_weite" placeholder="이름을 입력하세요"/></span></div>
                <div class="item_inp "><label for="" class="lab_weite" >핸드폰번호</label> <span class="cell_inp"><input name="participant[number]" id="number" type="text" class="inp_weite" placeholder="000-0000-0000"/></span></div>
                <div class="item_inp "><label for="" class="lab_weite" >이메일</label> <span class="cell_inp"><input name="participant[email]" id="email" type="text" class="inp_weite" placeholder="이메일을 입력하세요"/></span></div>
              </li>
            </ul>
            <div class="wrap_check check"> <!-- focus 시 .check 추가 -->
              <input id="checkAgree" name="checkAgree" type="checkbox" class="input_check">
              <label for="checkAgree" class="lab_check">개인정보제공에 동의합니다.<span class="ico_ggida ico_check"></span></label>
            </div>
          </div>
          <div class="wrap_button2">
            <a class="btn_layer btn_submit" onclick="request_submit()">신청</a>
            <a class="btn_layer btn_cancel" onclick="closeLayer()">취소</a>
          </div>
        </div>
      </div>
    </fieldset>
  </form>

</div>
  </div>



  <script type="text/javascript">
function viewLayer(){
    $(".layer_ggida").css("display","");
}
function closeLayer(){
    $(".layer_ggida").css("display","none");
    document.getElementById("request_participant").reset();
    }
  </script>
