<div id="mArticle">
  <div class="box_g box_written">
    <h2 class="tit_sub">'<%= @party.title %>'의 참가자 리스트</h2>

    <ul class="list_contact">
      <% @participants.each_with_index do |participant, idx| %>
          <li class="on" data-idx="<%=idx%>">
            <div class="cont_contact">
              <div href="#none" class="link_ask">

                  <strong class="tit_contact"><%=idx+1%>. <%= participant.name %></strong>
                  <span class="txt_contact">이메일: <%= participant.email %></span>
                  <span class="txt_contact">연락처: <%= participant.phone %></span>
                  <span class="txt_contact">신청일: <%= participant.created_at.strftime("%Y-%m-%d") %></span>
                  <span class="txt_contact">승인상태:
                  <%
                        if participant.state == "accepted"
                          status = "승인"
                          color = "blue"
                        elsif participant.state == "rejected"
                          status = "거절"
                          color = "red"
                        else
                          status = "신청대기"
                          color = "green"
                        end
                    %><span style='color:<%=color%>'><%=status%></span>
                  </span>

              </div>
            </div>
          </li>
      <% end %>
    </ul>

  </div>
</div>