<p id="notice"><%= notice %></p>

<h1>Kitchens</h1>

<div id="map" style="width:100%;height:350px;"></div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Maxperson</th>
      <th>Spacetype</th>
      <th>Equipment</th>
      <th>Opening time</th>
      <th>Closed time</th>
      <th>Fare</th>
      <th>Etc</th>
      <th>Notice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kitchens.each do |kitchen| %>
      <tr>
        <td><%= kitchen.name %></td>
        <td><%= kitchen.address %></td>
        <td><%= kitchen.phone %></td>
        <td><%= kitchen.email %></td>
        <td><%= kitchen.maxPerson %></td>
        <td><%= kitchen.spaceType %></td>
        <td><%= kitchen.equipment %></td>
        <td><%= kitchen.opening_time %></td>
        <td><%= kitchen.closed_time %></td>
        <td><%= kitchen.fare %></td>
        <td><%= kitchen.etc %></td>
        <td><%= kitchen.notice %></td>
        <td><%= link_to 'Show', kitchen %></td>
        <td><%= link_to 'Edit', edit_kitchen_path(kitchen) %></td>
        <td><%= link_to 'Destroy', kitchen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=8b5c466ea7f19195aab58ee5c6810912"></script>
<script>
var positions = [];
var latitute = 0;
var longitute = 0;
<% @kitchens.each do |kitchen| %>
    positions.push({ title: '<%=kitchen.name%>', latlng: new daum.maps.LatLng(<%=kitchen.latitute%>, <%=kitchen.longitute%>) });
    latitute += <%=kitchen.latitute%>;
    longitute += <%=kitchen.longitute%>;
<% end %>
var mapContainer = document.getElementById('map'),  
    mapOption = { 
        center: new daum.maps.LatLng(latitute / positions.length, longitute / positions.length), // 지도의 중심좌표
        level: 10
    };
var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
 
for (var i = 0; i < positions.length; i ++) {
    new daum.maps.Marker({ map: map, position: positions[i].latlng, title : positions[i].title });
}
</script>

<%= link_to 'New Kitchen', new_kitchen_path %>
