<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kitchen.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @kitchen.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @kitchen.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @kitchen.email %>
</p>

<p>
  <strong>Maxperson:</strong>
  <%= @kitchen.maxPerson %>
</p>

<p>
  <strong>Spacetype:</strong>
  <%= @kitchen.spaceType %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @kitchen.equipment %>
</p>

<p>
  <strong>Opening time:</strong>
  <%= @kitchen.opening_time %>
</p>

<p>
  <strong>Closed time:</strong>
  <%= @kitchen.closed_time %>
</p>

<p>
  <strong>Fare:</strong>
  <%= @kitchen.fare %>
</p>

<p>
  <strong>Etc:</strong>
  <%= @kitchen.etc %>
</p>

<p>
  <strong>Notice:</strong>
  <%= @kitchen.notice %>
</p>


<div id="map" style="width:100%;height:350px;"></div>

<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=8b5c466ea7f19195aab58ee5c6810912"></script>
<script>    
var markers = [
    { position: new daum.maps.LatLng(<%= @kitchen.latitute %>, <%= @kitchen.longitute %>), text: '<%= @kitchen.name %>' }
];
var staticMapContainer  = document.getElementById('map'),  
    staticMapOption = { 
        center: new daum.maps.LatLng(<%= @kitchen.latitute %>, <%= @kitchen.longitute %>),
        level: 3, // 이미지 지도의 확대 레벨
        marker: markers // 이미지 지도에 표시할 마커 
    };    
new daum.maps.StaticMap(staticMapContainer, staticMapOption);
</script>


<%= link_to 'Edit', edit_kitchen_path(@kitchen) %> |
<%= link_to 'Back', kitchens_path %>
